body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.navbar{
    border-bottom: 1px solid white;
    text-align: center;
}

.navbar ul a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-family: 'Arsenal', sans-serif;
}

.navbar ul a:hover{
    color: #FFFF99;
    border-bottom: 1px solid #FFFF99;
    padding: 6px;
}

.header .navbar .icons{
  float: right;
  margin-right: 20px;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/pexels-photo-302899.webp) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:  fixed;
}

.home .content h1{
    color: #d3af7f;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;

    margin-left: 20px;
}

.home .content p{
    font-size: 28px;
    font-weight: 550;
    color: #994C00;
    margin-left: 20px;
    font-family: 'Arsenal', sans-serif;
}

.home .content .btn{
    background-color: #994C00;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-left: 20px;
    font-family: 'Arsenal', sans-serif;
}

.about h1{
    color: white;
    text-align: center;
}

.about h1 span{
   color: #994C00;
}

.about .incona {
    display: flex;
}

.about .incona p{
    color: white;
    margin-top: 100px;
}

.about .incona img{
    width: 500px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu .box1d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
    margin-bottom: 70px;
}

span{
    color: #994C00;
}

.menu h2{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'Arsenal', sans-serif;
}

.box1{
    border: 1px solid grey;
    width: 400px;
    height: 350px;
    
}

.box1 h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}

.box1 img{
    width: 200px;
    margin-bottom: 30px;
}

.box1 .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}

.box2{
    border: 1px solid grey;
    width: 400px;
    height: 350px;
    margin-left: 70px;
}

.box2 h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}

.box2 img{
    width: 200px;
    margin-bottom: 30px;
}

.box2 .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}

.box3{
    border: 1px solid grey;
    width: 400px;
    height: 350px;
    margin-left: 70px;
}

.box3 h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}

.box3 img{
    width: 200px;
    margin-bottom: 30px;
}

.box3 .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}

.row2{
    display: flex;
}

.box4{
    border: 1px solid grey;
    width: 361px;
    height: 350px;
    margin-top: 65px;
}


.box4 h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}


.box4 img{
    width: 200px;
    margin-bottom: 30px;
}

.box4 .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}



.box5{
    border: 1px solid grey;
    width: 361px;
    height: 350px;
    margin-left: 70px;
    margin-top: 65px;
    
}


.box5 h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}


.box5 img{
    width: 200px;
    height: 160px;
    margin-bottom: 30px;
    margin-top: -30px;
}

.box5 .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}



.box6{
    border: 1px solid grey;
    width: 361px;
    height: 350px;
    margin-left: 70px;
    margin-top: 65px;
    
}


.box6 h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}


.box6 img{
    width: 200px;
    margin-bottom: 30px;
}

.box6 .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}




.title h1{
    color: white;
    font-family:  'Arsenal' , sans-serif;
    margin-top: 100px;
}

.box1d{
    border: 1px solid grey;
    width: 361px;
    height: 350px;
}

.box1d h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}

.box1d img{
    width: 200px;
    margin-bottom: 30px;
}

.box1d .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}


.desert{
    display: flex;
}

.box2d{
    border: 1px solid grey;
    width: 361px;
    height: 350px;
    margin-left: 70px;
}

.box2d h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}

.box2d img{
    width: 200px;
    height: 140px;
    margin-bottom: 30px;
}

.box2d .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}




.box3d{
    border: 1px solid grey;
    width: 361px;
    height: 350px;
    margin-left: 70px;
}

.box3d h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}

.box3d img{
    width: 200px;
    height: 140px;
    margin-bottom: 30px;
}

.box3d .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}




.box4d{
    border: 1px solid grey;
    width: 361px;
    height: 350px;
    margin-left: 70px;
}

.box4d h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Arsenal' , sans-serif;
}

.box4d img{
    width: 200px;
    height: 140px;
    margin-bottom: 30px;
}

.box4d .btn{
    color: white;
    text-decoration: none;
    background-color: #994C00;
    padding: 20px;
    font-family:  'Arsenal' , sans-serif;
}



.contact h1{
    margin-top: 100px;
    color: #994C00;
    text-align: center;
}

.contact h1 span{
    color: white;
}

.contact form h3{
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.inputBox span{
    color: white;
    font-size: 40px;
}

.inputBox{
    
    height: 30px;
    margin-bottom: 30px;
}








